[Unit]
Description=MUNGE authentication service
Documentation=man:munged(8)
After=network.target
After=time-sync.target

[Service]
Type=forking
ExecStart=/usr/sbin/munged --num-threads 10
PIDFile=/var/run/munge/munged.pid
User={{ slurm_user }}
Group={{ slurm_user }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
