[Unit]
Description=Slurm controller daemon
After=network-online.target munge.service
Wantes=network-online.target
ConditionPathExists={{ slurm_install_dir }}/etc/slurm.conf

[Service]
Type=simple
#User={{ slurm_user }}
#Group={{ slurm_user }}
EnvironmentFile=-{{ slurm_install_dir }}/etc/slurmctld
#ExecStart={{ slurm_install_dir }}/sbin/slurmctld -D -s $SLURMCTLD_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
TasksMax=infinity

# Uncomment the following lines to disable logging through journald.
# NOTE: It may be preferable to set these through an override file instead.
#StandardOutput=null
#StandardError=null

[Install]
WantedBy=multi-user.target
