#
# Sample /etc/slurmdbd.conf
#
ArchiveEvents=yes
ArchiveJobs=yes
ArchiveResvs=yes
ArchiveSteps=no
ArchiveSuspend=no
ArchiveTXN=no
ArchiveUsage=no
#ArchiveScript=/usr/sbin/slurm.dbd.archive
AuthInfo=/var/run/munge/munge.socket.2
AuthType=auth/munge
DbdHost=localhost
DebugLevel=info
PurgeEventAfter=1month
PurgeJobAfter=12month
PurgeResvAfter=1month
PurgeStepAfter=1month
PurgeSusptendAfter=1month
PurgeTXNAfter=12month
PurgeUsageAfter=24month
LogFile={{ slurm_install_dir }}/var/log/slurmdbd.log
PidFile={{ slurm_install_dir }}/var/run/slurmdbd.pid
SlurmUser={{ slurm_user }}
StoragePass=password9876
StorageType=accounting_storage/mysql
StorageUser=slurm
